#=====================================================================
# Redirect alias domains to main domain
#=====================================================================
<VirtualHost *:80>
ServerName www.{{ domain }}
Redirect permanent / http://{{ domain }}/
</VirtualHost>

#=====================================================================
# Main domain
#=====================================================================
<VirtualHost *:80>
ServerName {{ domain }}
DocumentRoot {{ websites_home }}/{{ domain }}/htdocs
DefaultType text/html

<Directory {{ websites_home }}/{{ domain }}/htdocs>
    Options Includes FollowSymLinks
    AllowOverride All
    # Replaces Allow/Deny from earlier Apaches
    Require all granted
</Directory>

</VirtualHost>
