{% extends "layout.html" %}
{% set title = _('Search') %}

{% block body %}

<h1 id="page-title" class="asset-name">Search</h1>
<div style="text-align:center; margin:1em">
<form action="/search.html" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-5857400612237359:arxshr-3s4u" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="31" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="//www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
<p><a href="{{ pathto(master_doc) }}">return to home page</a></p>
</div>

<div id="cse-search-results"><noscript>Note: This search requires Javascript.</noscript></div>
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = 800;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="//www.google.com/afsonline/show_afs_search.js"></script>
{% endblock %}