/* This is the StyleCatcher theme addition. Do not remove this block. */
@import url(blog.css);
@import url(screen.css);
/* end StyleCatcher imports */
.footnote { font-size: smaller; }
a.footnote {vertical-align: super;}

.editorial, .admonition {
    background: transparent url(dateheader.png) repeat-x scroll left bottom;
    border: 1px solid #E1DDD3;
    font-style: italic;
    padding: 5px 5px 0;
    margin: 0 2em 1em 1em;
}

.inline-figure, .full-figure, .sidebar {
  float:right;
  border:1px solid #724C2A;
  margin-left: 2px;
  padding:2px;
  text-align:center;
  font-style:italic;
}
.inline-figure h4, .full-figure h4, .sidebar h4, .inline-figure .caption, .figure .caption, .figure .rubric, .admonition-title {
    font-style:normal;
    font-variant:small-caps;
}
.inline-figure, .sidebar {width:280px;}
.sidebar p {text-align:justify;padding:2px;}

.left {float:left !important; margin-right:4px;}
.right {float:right !important; margin-left:4px;}
.center {float:none !important; margin-left:auto; margin-right:auto; text-align:center;}

#customsearch #content {width:100%;margin-left:0}
#customsearch #alpha {width:75%}

#alpha-inner {
    font-size: 16px;
}

table.footnote {width:100%;}

